<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/centres.css">
<link rel="stylesheet" href="/stylesheets/login.css">

<%
  const today = new Date();
  let month = today.getMonth();
  let date = today.getDate();
  if(month < 9) {
    month = '0' + (month + 1);
  }
  else {
    month = month + 1;
  }
  if(date < 10) {
    date = '0' + date;
  }
  const day = today.getFullYear() + '-' + month + '-' + date;
%>

<div class="formdiv border border-primary rounded">
  <div class="heading"><h2>Add Time Slot</h2></div>
  <form id="new" method="POST" action="/centre/<%=centre._id%>/doctor/<%=doctor._id%>/addtime">
    <div class="form-group">
      <label for="name">Channelling Centre</label>
      <input type="text" class="form-control" id="name" value="<%= centre.name %>" readonly>
    </div>
    <div class="form-group">
      <label for="docname">Doctor</label>
      <input type="text" class="form-control" id="docname" value="<%= doctor.name %>" readonly>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" required class="form-control" id="date" name="date" min="<%= day %>" value="<%= day %>" 
      onkeydown="return false">
    </div>
    <div class="form-group">
      <label for="start">Starting Time</label>
      <input type="time" required class="form-control" id="start" name="start" value="08:00">      
    </div>
    <div class="form-group">
      <label for="end">Ending Time</label>
      <input type="time" required class="form-control" id="end" name="end" value="08:00">            
    </div>
    <div class="login-btn">
      <hr />
      <button type="submit" id="sub" class="btn btn-primary btn-lg">Add</button>
    </div>
  </form>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding:0.6em;">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorModalBody" style="padding-bottom:1em;">Please input valid date!</div>
      <div class="modal-footer" style="padding:0.6em;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('new').addEventListener('submit', (event) => {
    let start = document.getElementById('start').value;
    let end = document.getElementById('end').value;
    if(start >= end) {
      document.getElementById('errorModalLabel').innerHTML = 'Time Error';
      document.getElementById('errorModalBody').innerHTML = 'Please input valid start and end times!';
      $("#errorModal").modal(); 
      event.preventDefault();
      return false;
    }
  });
</script>

<% include partials/footer %>