<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/centres.css">

<%
  let today = new Date(date);
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  const months = ['January', 'February', 'March', 'April', 'June', 'July', 'August', 'September', 'November', 'December'];
  day = days[today.getDay()];
  month = months[today.getMonth()];
  monthDate = today.getDate();
  const dayText = day + ', ' + month + ' ' + monthDate;
%>

<div class="row">
  <div class="col-sm-4 border" style="padding-top:0.3em; height:100%;">
    <h4 scope="col"><%= doctor.name %></h4>
    <hr>
    <ul style="list-style-type: none; padding-left:0em;">
      <li><a href="">Add/View Doctors</a></li>
      <li><a href="">Add/View Operators</a></li>
      <li><a href="">Add Time Slot</a></li>
    </ul>
  </div>
  <div class="col-sm-8">
    <h3>Pending Time Slots</h3>
    <div class="table-responsive-sm">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Channelling Centre</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%
          pendings.forEach((timeslot) => {
          %>
            <tr>
              <th scope="row"><%= timeslot.date %></th>
              <td><%= timeslot.centre.name %></td>
              <td><%= timeslot.start %> - <%= timeslot.end %></td>
              <form action="/timeslot/<%= timeslot._id %>/accept" method="POST">
                <td><input type="submit" class="btn btn-primary" value="Accept"></td>
              </form><form action="/timeslot/<%= timeslot._id %>/doctor/remove" method="POST">
                <td><input type="submit" class="btn btn-primary" value="Decline"></td>
              </form>
            </tr>
          <%
          });
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-sm-8">
    <h3><%= dayText %> - Schedule</h3>
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Date</th>
            <th scope="col">Available Time</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%
          pendings.forEach((timeslot) => {
          %>
            <tr>
              <th scope="row"><%= timeslot.doctor.name %></th>
              <td><%= timeslot.date %></td>
              <td><%= timeslot.start %> - <%= timeslot.end %></td>
              <form action="/timeslot/<%= timeslot._id %>/<%= date %>/owner/remove" method="POST">
                <td><a class="btn btn-primary" href="" data-toggle="modal" data-target="#exampleModal">Remove</a></td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
                aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="padding:0.6em;">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Time Slot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding-bottom:1em;">
                        Are you sure, you want to remove this time slot?
                      </div>
                      <div class="modal-footer" style="padding:0.6em;">
                        <input type="submit" class="btn btn-primary" value="Remove">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </tr>
          <%
          });
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/footer %>