<% include partials/header %>

<%
  let today = new Date(date);
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  const months = ['January', 'February', 'March', 'April', 'June', 'July', 'August', 'September', 'November', 'December'];
  day = days[today.getDay()];
  month = months[today.getMonth()];
  monthDate = today.getDate();
  const dayText = day + ', ' + month + ' ' + monthDate;
%>

<link rel="stylesheet" href="/stylesheets/centres.css">

<h1 style="text-align:center; margin-bottom:0.5em;" class="border"><%= centre.name %> - <%= dayText %></h1>
<div class="row">
<div class="col-sm-4 container">
  <div class="border" style="padding:0 0.5em; margin-bottom:0.5em;">
    <h4 scope="col" style="padding-top:0.3em;"><%= centre.name %></h4>
    <hr>
    <ul style="list-style-type: none; padding-left:0em;">
      <li><a href="/centre/<%=id%>/doctors">Add/View Doctors</a></li>
      <li><a href="/centre/<%=id%>/operators">Add/View Operators</a></li>
      <li><a href="/centre/<%=id%>/operators">Add Time Slot</a></li>
      <li><a href="/secret">Go to homepage</a></li>      
    </ul>
  </div>
</div>
<%
  if(timeslots.length === 0) {
%>
    <div class="card col-sm-8">
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Your centre doesn't has any appointments for the day yet.</h5>
        <h6 class="card-subtitle">Add an appointment for a doctor!</h6>
        <p class="card-text" style="margin-top:0.3em;"><a href="/centre/<%=id%>/doctors" class="btn btn-primary">Add Appointment</a></p>
      </div>
<%
  } 
  else {
%>
<div class="table-responsive-sm col-sm-8">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Doctor</th>
         <th scope="col">Available Time</th>
      </tr>
    </thead>
    <tbody>
      <%
      timeslots.forEach((timeslot) => {
      %>
        <tr>
          <th scope="row"><%= timeslot.doctor.name %></th>
          <td><%= timeslot.start %> - <%= timeslot.end %></td>
        </tr>
      <%
      });
      %>
    </tbody>
  </table>
<%
  }
%>
  <form action="/centre/<%=id%>/schedule" method="POST">
    <div class="form-group">
      <input type="date" class="form-control" id="date" name="date" value="<%= date %>" style="width:50%; display:inline-block;">
      <button type="submit" class="btn btn-secondary">Get Schedule</button>
    </div>
  </form>
</div>
</div>

<%
if (pendings.length) {
%>
<div class="row justify-content-end">
  <div class="col-sm-8">
    <h3>Pending Time Slots</h3>
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Date</th>
            <th scope="col">Available Time</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%
          pendings.forEach((timeslot) => {
          %>
            <tr>
              <th scope="row"><%= timeslot.doctor.name %></th>
              <td><%= timeslot.date %></td>
              <td><%= timeslot.start %> - <%= timeslot.end %></td>
              <form action="/timeslot/<%= timeslot._id %>/<%= date %>/owner/remove" method="POST">
                <td><a class="btn btn-primary" href="" data-toggle="modal" data-target="#exampleModal">Remove</a></td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
                aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="padding:0.6em;">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Time Slot</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding-bottom:1em;">
                        Are you sure, you want to remove this time slot?
                      </div>
                      <div class="modal-footer" style="padding:0.6em;">
                        <input type="submit" class="btn btn-primary" value="Remove">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </tr>
          <%
          });
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>

<% include partials/footer %>